@import './react-fountain-root.css';

.react-fountain__dialogue {
  background-color: transparent;

  padding-left: 1.5in;
  width: 400px;
}

.react-fountain__dialogue-line {
  font-family: var(--react-fountain-font-family);
  font-size: 12pt;

  padding-top: 0.1in;
  padding-bottom: 0.1in;

  overflow-wrap: break-word;
}